<% provide(:title, 'About') %>
<h1>About</h1>
<p>This application seeks to offer consumers, restaurant-goers, and "foodies" something a centralized source of information as to what restaurants serve and what to order.</p>
